@import './variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg_default;
    font-family: 'Lexend', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 1.2rem;
    color: rgba($black, $alpha_7);
}